<h2>Created Events:</h2>
<%= render partial: 'shared/events_list', locals: { events: @created_events } %>
<h2>Attending Events:</h2>
<%= render partial: 'shared/events_list', locals: { events: @attended_events } %>
