<h2>Created Events:</h2>
<%= render partial: 'events/event', collection: @user.created_events %>
<h2>Attended Events:</h2>
<%= render partial: 'events/event', collection: @user.attended_events.includes(:creator) %>
