<h2 class="attendance">Who's going?</h2>
<div class="attendees">
  <% if events.nil? %>
    <h3>No one... yet.</h3>
  <% else %>
    <ul>
      <% events.includes(:attendees).each do |event| %>
        <% event.attendees.each do |attendee| %>
          <li><%= attendee.email %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>