<h2 class="attendance">Who's going?</h2>
<div class="attendees">
  <% if event.first.attendees.empty? %>
    <h3>No one... yet.</h3>
  <% else %>
    <ul>
      <% event.first.attendees.each do |attendee| %>
        <li><%= attendee.email %></li>
      <% end %>
    </ul>
  <% end %>
</div>