<h2>Manage Invitations</h2>
<% users.where.not(id: [event.creator]).find_each do |user| %>
  <% if event.in?(user.private_events) %>
    <%= button_to "Uninvite #{user.username.capitalize}", invitation_path, method: :delete, params: { invitation: { private_event_id: event.id, invitee_id: user.id } } %> <br>
  <% else %>
    <%= button_to "Invite #{user.username.capitalize}", invitations_path, params: { invitation: { private_event_id: event.id, invitee_id: user.id } } %> <br>
  <% end %>
<% end %>
